body {
  margin: 0;
  font-weight: 300;
  font-family: $font-family-stem;
  //line-height: 1.495;
  color: var(--color-text-white);
  background-color: var(--color-dark-blue);
  -webkit-text-size-adjust: none;
  -webkit-tap-highlight-color: transparent;
  overflow-x: hidden;
  scroll-behavior: smooth;
}

.wrap {
  max-width: 390px;
  min-width: 320px;
  width: 100%;
  margin: 0 auto;
  padding: 0 16px;

  @media (min-width: $screen-l) {
    max-width: 100%;
  }
  //
  //@media (min-width: $screen-l) {
  //  max-width: 1100px;
  //}

  @media (min-width: $screen-l) {
    max-width: 1338px;
  }
}

.title {
  font-family: $font-family-micra;
  font-size: 32px;
  font-weight: 400;
  text-transform: uppercase;

  &_h1 {
    font-size: 16px;
    line-height: 1.56;

    @media (min-width: $screen-l) {
      font-size: 24px;
    }

    @media (min-width: $screen-xl) {
      font-size: 32px;
    }
  }

  &_h2 {
    font-size: 18px;
    line-height: 1.44;

    @media (min-width: $screen-l) {
      font-size: 42px;
      line-height: 0.95;
    }
  }
}

.colored-el {
  color: var(--color-light-blue);
}

.subtitle {
  font-size: 14px;
  font-weight: 500;

  @media (min-width: $screen-l) {
    font-size: 17px;
  }

  @media (min-width: $screen-xl) {
    font-size: 20px;
  }
}

.text {
  font-weight: 350;

  &_large {
    font-size: 16px;

    @media (min-width: $screen-l) {
      font-size: 20px;
    }
  }

  &_medium {
    font-size: 16px;
  }

  &_small {
    font-size: 10px;

    @media (min-width: $screen-l) {
      font-size: 14px;
    }
  }

  &_smallest {
    font-size: 12px;
  }

  &_bold {
    font-weight: 500;
  }
}

.ellipse-light {
  position: absolute;
  z-index: -1;
  border-radius: 50%;
  border: 1px solid var(--color-bg-dark);
  opacity: 0.2;
  background: var(--color-bg-ellipse);
  filter: blur(150px);
}
