body {
  margin: 0;
  font-weight: 300;
  font-family: 'Stem', sans-serif;
  //line-height: 1.495;
  color: var(--color-text-white);
  background-color: var(--color-dark-blue);
  -webkit-text-size-adjust: none;
  -webkit-tap-highlight-color: transparent;
  overflow-x: hidden;
}
