@font-face {
  font-family: 'Micra';
  src: url('~@/assets/fonts/micra-bold.woff') format('woff'),
  url('~@/assets/fonts/micra-bold.woff2') format('woff2');
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Micra';
  src: url('~@/assets/fonts/micra-normal.woff') format('woff'),
  url('~@/assets/fonts/micra-normal.woff2') format('woff2');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Stem';
  src: url('~@/assets/fonts/stem-medium.woff') format('woff'),
  url('~@/assets/fonts/stem-medium.woff2') format('woff2');
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Stem';
  src: url('~@/assets/fonts/stem-light.woff') format('woff'),
  url('~@/assets/fonts/stem-light.woff2') format('woff2');
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}


