:root {
  --color-dark-blue: #030619;
  --color-light-blue: #7AD0FF;
  --color-text-white: #FFFFFF;
  --color-text-blue: #7AD0FF;
  --color-text-grey: #818181;
  --color-button-gradient: linear-gradient(180deg, #BA75DA 0%, #05BCBC 100%);
  --color-border-link: #052E4B;
  --color-border-link-hover: #87D1E7;
}
