:root {
  --color-dark-blue: #030619;
  --color-light-blue: #7AD0FF;
  --color-text-white: #FFFFFF;
  --color-text-black: #000000;
  --color-text-blue: #7AD0FF;
  --color-text-grey: #818181;
  --color-text-tab: #898989;
  --color-button-gradient: linear-gradient(180deg, #BA75DA 0%, #05BCBC 100%);
  --color-border-link: #052E4B;
  --color-border-link-hover: #87D1E7;
  --color-border: #236491;
  --color-bg-dark-blue: #020F22;
  --color-bg-dark-blue2: #021025;
  --color-bg-light-blue: #7aebef;
  --color-bg-medium-blue: #4c7ff0;
  --color-bg-dark: #000000;
  --color-bg-ellipse: #467792;
}

// fonts
$font-family-micra: 'Micra', sans-serif;
$font-family-stem: 'Stem', sans-serif;

// devices
$screen-xxxl: 1440px;
$screen-xxl: 1340px;
$screen-xl: 1248px;
$screen-l: 992px;
$screen-m: 768px;
$screen-s: 460px;
